<!-- // se tiver o token passado entra aqui -->
<ng-container *ngIf="_authService.isAuthenticated()">
  <router-outlet></router-outlet>
  <app-header></app-header>
  <app-nav></app-nav>
  <app-footer></app-footer>
</ng-container>

<!-- se tiver sem o token, entra aqui e vai para a pagina de login -->
<ng-container *ngIf="!(_authService.isAuthenticated())">
  <router-outlet></router-outlet>
  <app-pagina-login></app-pagina-login>
</ng-container>



<!--
 <app-header></app-header>
<app-nav></app-nav>
<app-footer></app-footer>



<router-outlet></router-outlet> -->
