<mat-card>
  <mat-card-title>Nova Igreja</mat-card-title>

  <form [formGroup]="igrejaForm" (ngSubmit)="save()" class="form" #form="ngForm">

    <mat-form-field>
      <input matInput placeholder="codigo da igreja" appearance="outline"
                                                      formControlName="cod_igreja">
    </mat-form-field >
    <mat-form-field class="form">
      <input matInput placeholder="nome da igreja" appearance="outline"
                                                    formControlName="nome_igreja">
    </mat-form-field>
  </form>


  <button mat-raised-button (click)="save()" color="primary">
    Salvar
  </button>

  <button mat-raised-button (click)="cancel()" color="red">
    Cancelar
  </button>
</mat-card>
<samp></samp>


